<%- include('include/head.ejs') %>
<link  rel="stylesheet"  href="/css/meteo.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="/javascripts/weather.js"> </script>
<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">

</head>

<body>
<div class="container-fluid">
<%- include('include/navigation.ejs') %>
    <div class="my_web_weather">
        <div class="container-fluid">
           <div class="row align-items-center justify-content-center">
                <div class="col-md-4  text-center ;alert alert-secondary">
                    <h1>Hello <%= Username %></h1>
                    <h3>Welcome to Weather forecast site</h3>
                    <img src="https://www.google.co.il/imgres?imgurl=https%3A%2F%2Fwww.almanac.com%2Fsites%2Fdefault%2Ffiles%2Fimage_nodes%2Frainbow-weather.jpg&imgrefurl=https%3A%2F%2Fwww.almanac.com%2Fweather%2Fhistory&tbnid=7D0QUI6tCit56M&vet=12ahUKEwjQ_ae-0ZvuAhUak6QKHaeGA8UQMygAegUIARCoAQ..i&docid=Jh0QyDTotxC0LM&w=1920&h=1280&q=weather%20pictures&hl=fr&authuser=0&ved=2ahUKEwjQ_ae-0ZvuAhUak6QKHaeGA8UQMygAegUIARCoAQ" alt="">

                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><br>
                    <div id="tit" class="alert alert-secondary">
                        <form action="api/position"  method="post" id="form-group">
                            <div class="form-group" style="text-align: left">
                                <label for="LocationName">Location Name</label>
                                <input type="text" class="form-control" id="LocationName" placeholder="enter your location name">
                                <label for="Latitudenum">Latitude Number</label>
                                <input type="number" class="form-control" id="Latitudenum" placeholder="enter your latitude number">
                                <label for="Longitudenum">Longitude Number</label>
                                <input type="number" class="form-control" id="Longitudenum" placeholder="enter your longitude number">
                                <br>
                            </div>
                        </form>
                        <div style="text-align:left">
                            <button class="btn btn-primary" id="Add_Button">Add this position</button>


                        </div>
                    </div>
                    <br>
                    <ul class="alert alert-danger" id="errorField" style="display: none;text-align: left">

                    </ul>
                </div>
                <div class="col-md-6 "><br>
                    <div class="alert alert-secondary" id="list1" style="display: none">
                        <div id="list" style="text-align:left"></div>
                        <button class="btn btn-danger" id="EraseLocation">Erase</button>
                        <button class="btn btn-primary" id="Get_the_Weather">Get Weather</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ;alert alert-danger" id="loadFailed" style="display: none">
                    <p>"weather forecast service is not available right now, please try again later."</p>
                </div>
                <div class="col-md-6 " id="show_the_weather" style="display: none">
                    <div class="alert alert-secondary " style="overflow-x:auto">
                        <table class="table table-bordered">

                            <thead>
                            <tr>
                                <th scope="col" id="Name_Of_City"></th>
                                <th scope="col">Date</th>
                                <th scope="col">Weather</th>
                                <th scope="col">Temp_max</th>
                                <th scope="col">Temp_min</th>
                                <th scope="col">Wind10m_max</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="Day1">
                                <th></th>
                            </tr>
                            <tr id="Day2">
                                <th></th>
                            </tr>
                            <tr id="Day3">
                                <th></th>
                            </tr>
                            <tr id="Day4">
                                <th></th>
                            </tr>
                            <tr id="Day5">
                                <th></th>
                            </tr>
                            <tr id="Day6">
                                <th></th>
                            </tr>
                            <tr id="Day7">
                                <th></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="alert alert-secondary ; col-md-6" style="display: none;align-content: center" id="myImage">
                    <div style="width:100% ;height: 100%">
                        <figure class="figure">
                            <img src="/images/default_image.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">The picture of weather.</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>